numpy==1.24.3
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.13.1
matplotlib==3.10.1
seaborn==0.13.2
plotly==6.0.1
tensorflow==2.13.0
keras==2.13.1
torch==2.6.0+cu118
torchvision==0.21.0+cu118
torchaudio==2.6.0+cu118
xgboost==3.0.0
optuna==4.3.0
transformers==4.51.3
huggingface-hub==0.30.2
gensim==4.3.3
openpyxl==3.1.5
pyarrow==19.0.1
tqdm==4.67.1
joblib==1.4.2

